@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --cream: #FFFDD0;
  --navy: #002560;
  --gold: #AB804D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/GothamMedium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Bright Regular';
  src: url('../public/fonts/Bright.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--cream);
}

h3 {
  font-family: "Bright Regular";
}

h1, h2, p, a, button {
  font-family: 'Gotham Medium';
  font-size: 1.2rem;
}

.bg-navy {
  background: var(--navy)
}

a.link:hover {
  transition: all 200ms ease-in;
  color: var(--navy);
  text-decoration: underline;
}

a:not(.link) {
  transition: all 200ms ease-in;
  background: var(--navy);
  color: white;
}

a:not(.link):hover {
  background: var(--gold);
}

button {
  transition: all 200ms ease-in;
}

button:hover {
  background: var(--gold);
}

@media screen and (max-width: 768px) {
  a[href="#bingoBoard"] {
    display: none;
  }
}

/* @media print {
  #intro,
  footer {
    display: none !important;
  }

  nav {
    margin-bottom: 25px !important;
  }

  #bingoBoard { 
   padding: 0 !important;
  }

  #bingoBoard .card {
    border: 2px solid black !important;
    height: 30% !important;
  }

  @media print and (max-width: 768px) {
      nav {
        display: flex !important;
        justify-content: space-between !important;
        flex-direction: row !important;
      }
  }
} */

@media print {

  #intro,
  footer {
    display: none;
  }

  nav {
    margin-bottom: 25px;
  }

  #bingoBoard {
    padding: 0;
  }

  #bingoBoard .card {
    border: 2px solid black;
    height: 20% !important
  }

  nav {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
  }

  .bingo-board-container {
    margin-top: 0 !important
  }
}